* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #1a0909;
    margin: 0;
    overflow-x: hidden;


    
}


/* ESTRUTURA */

.dashboard,
.tela-pedidos,
.producao,
.logistica,
.relatorios{

    display: grid;
    grid-template-columns: 190px 1fr;
    width: 90%;
    max-width: 1350px;
    min-height: 685px;
    margin: 35px auto;
    background-color: white;
}


/* MENU */

.menu-lateral {
    margin-right: 16px;
    
    height: 800px;

    background-color: #D97706;
    padding: 40px 10px;
}


.menu-lateral h1 {

    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
}


.menu-lateral nav {

    display: flex;
    flex-direction: column;
    gap: 10px;
}


.menu-lateral a {

    color: white;
    text-decoration: none;
    padding: 16px;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
}


.menu-lateral a:hover {

    background-color: #1a0909;
}


.menu-lateral .ativo {

    background-color: #1a0909;
}


/* CONTEÚDO */

.usuario {

    padding: 40px 10px;
}


/* CABEÇALHO */

.cabecalho {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}


.cabecalho h2 {

    font-size: 32px;
}


.usuario {

    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}


.foto {

    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 50%;
}


/* CARDS */

#cards {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    
    margin-bottom: 25px;
}


.card1 {

    width: 200px;
    height: 200px;
    background-color: #8F8F8F;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.25)
}

.card2 {

    width: 200px;
    height: 200px;
    background-color: #37FF00;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.25)
}

.card3 {

    width: 200px;
    height: 200px;
   background-color: #F5E938 ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.25)
}

.card4 {

    width: 200px;
    height: 200px;
    background-color: #F8BC3B ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.25)
}

.card5 {

    width: 200px;
    height: 200px;
    background-color: #ff0000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.25)
}




.card1 p,
.card2 p,
.card3 p,
.card4 p,
.card5 p {

    font-size: 15px;
    color: #000000;
}


.card1 strong,
.card2 strong,
.card3 strong,
.card4 strong,
.card5 strong {

    font-size: 28px;
}


/* PARTE DE BAIXO */

#informacoes {

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}


.grafico,
.pedidos {
    display: grid;
}


.grafico h3,
.pedidos h3 {

    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}


/* GRÁFICO */

.pedidos {
    width: 550px;
    height: 380px;
    margin-right: 24px;
    margin-bottom: 30px;
    background-color: #11FDB2;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.25)
}

.grafico {
    width: 550px;
    height: 380px;
    border-radius: 10px;
    padding: 25px;
    background-color: #AF9DFF ;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.25)
}

/* PEDIDOS */

.pedidos p {

    border-bottom: 1px solid #000000;
    padding: 15px;
}



/* TELA  DE PEDIDOS */

.p_pedidos input{
    width: 895px ;
    height: 40px;
    border-radius: 30px;
    padding: 11px 20px;
    color: rgb(4, 4, 4);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 57px;



}
/*  STATUS  */

.rec{
    background-color: #8f8f8fb1;
    border-radius: 5px ;
    


}

.cor{
    background-color: #06cbd9a9 ;
    border-radius: 5px ;


}

.pr{
    background-color: #37ff0082;
    border-radius: 5px ;


}

.cos{
    background-color: #f9037e8b ;
    border-radius: 5px ;



}

.status select{
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    outline: none;
    font-size: 20px;
}






.novo{
    padding: 11px 20px;
    border: none;
    border-radius: 10px;
    background: #e66007;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;


}

.novo:hover{

    border-color: rgba(255, 2, 2, 0.593);
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
    
}


table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 15px;
    overflow: hidden;
}

th {
    background: #D97706;
    color: white;
    padding: 15px;
    text-align: left;
}

td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background: #f5f5f5;
}


/* tabela   */

#painel{
    
    display: flex;
    gap: 20px;
    overflow: hidden;
   
    
   




}

.coluna-cabecalho1
{
    height: 80px;
    margin-bottom: 20px;
    border: 2px solid #0000003b;
    border-radius: 10px;
    color: #000000;

}

.coluna-cabecalho2
{
    height: 80px;
    margin-bottom: 20px;
    border: 2px solid #0000003b;
    border-radius: 10px;
    color: #000000;
    
}

.coluna-cabecalho3
{
    height: 80px;
    margin-bottom: 20px;
    border: 2px solid #0000003b;
    border-radius: 10px;
    color: #000000;
    
}

.coluna-cabecalho4
{
    height: 80px;
    margin-bottom: 20px;
    border: 2px solid #0000003b;
    border-radius: 10px;
    color: #000000;
    
}


/*  Recabidos    */
.conteudo-painel1{
    background: linear-gradient(to bottom, #97929258, #bb9f9f52);
    width: 270px;
    height: 600px;
    display: 1;
    text-align: center;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.25)


      
     
}

.conteudo-painel2{
    background:linear-gradient(to bottom, #06cbd9, #98cfd3) ;
    width: 270px;
    display: 1;
    text-align: center;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.25)


      
     
}

.conteudo-painel3{
    background: linear-gradient(to bottom, #dc88e1, #ab75ae);
    width: 270px;
    display: 1;
    text-align: center;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.25)


      
     
}

.conteudo-painel4{
    background: linear-gradient(to bottom, #e68eba, #9e5a77);
    width: 270px;
    display: 1;
    text-align: center;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.25)


      
     
}

/*  vER MAIS    */ 

.conteudo-painel1 a{
    color: #000000 ;
  text-decoration: none;
    padding: 16px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    display: inline-block;

    transition: all 0.25s ease;  
     
}

.conteudo-painel2 a{
    color: #000000 ;
 text-decoration: none;
    padding: 16px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    display: inline-block;

    transition: all 0.25s ease;
}

.conteudo-painel3 a{
    color: #000000 ;
    text-decoration: none;
    padding: 16px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    display: inline-block;

    transition: all 0.25s ease;
  
}

.conteudo-painel4 a{
    color: #000000;
   text-decoration: none;
    padding: 16px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    display: inline-block;

   transition: all 0.25s ease;
     
}

.conteudo-painel1 a:hover,
.conteudo-painel2 a:hover,
.conteudo-painel3 a:hover,
.conteudo-painel4 a:hover{
     transform: translateY(5px);

    





}




 /*     Corte          */
.coluna-corte{
    display: 1;
    border: 1px solid #000000;
    


}

.pedido-id{
    width: 230px;
    height: 100px;
    justify-items: center;
    margin-left: 16px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
   
    color: rgb(53, 33, 33);
    padding: 15px;
    text-align: center;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.25)
}



  




