*{
    padding: 0%;
    box-sizing: border-box;

}

body {
    margin: 0%;
    padding: 0%;


}



/*  banner  */
.banner_inicial{
    max-width: none;
    height: 150px;
    background: orange;
    border-radius: 20px;
    margin-bottom: 25px;
    
}

.recorte{
    box-sizing: border-box;
    width: 90%;
    height: 25px;
    background-color: brown;
    margin-top: 40px;


}

.barra-pesquisa input{
    box-sizing: border-box;
    


}

/*  Banner com imagem     */

.banner-img{
    box-sizing: border-box;
    width: 90% ;
    height: 100px;
    background-color: brown;
    margin:  0 53px ;


}



/*   produtos    */

.produto {
    display: flex;
    gap: 39px;
    border-color: black;


}