* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a0909;
    overflow: hidden;
    min-width: 100px;
}

.tela-config,
.tela-estoque,
.dashboard,
.tela-pedidos,
.producao,
.logistica,
.relatorios {
    display: grid;
    grid-template-columns: 300px 1fr;
    min-width: 100vh;
    height: 100vh;
    margin: 0;
    background-color: white;
}


/* MENU */

.menu-lateral {
    align-items: center;
    
    margin-top: auto;
    margin-right: 0px;
    width: 100%;
    overflow: hidden;


    height: 100vh;

    background-color: #D97706;
    padding: 40px 10px;
}


.menu-lateral h1 {

    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}





.menu-lateral nav {
    display: flex;
    height: 70%;
    flex-direction: column;
    gap: 10px;
}

.configuracoes{
    display: block;

}

.menu-lateral a {

    color: white;
    text-decoration: none;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 30px;
}


.menu-lateral a:hover {
    align-content: center;
    text-align: center;
    align-items: center;

    background-color: #1a0909;
}


.menu-lateral .ativo {
    align-content: center;
    margin-bottom: 20px;

    height: 100px;

    background-color: #1a0909;
}






/* CONTEÚDO */

.usuario {

    padding: 40px 10px;
}



/* CABEÇALHO */

.cabecalho {
    background: linear-gradient(to right, #dee9e9, #dde3e3);

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 0px;
}


.cabecalho h2 {
    margin-left: 16px;

    font-size: 32px;
}

.cabecalho p {
    margin-left: 16px;
    transform: translateX(-212%);
    margin-top: 60px;

}


.usuario {

    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}


.foto {

    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 50%;
}


/* CARDS */

#cards {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 30px;

}


.card1 {

    width: 280px;
    height: 280px;
    background-color: #8F8F8F;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3px;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.25);
    aspect-ratio: 1 / 1;
}

.card2 {

    width: 280px;
    height: 280px;
    background-color: #37FF00;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3px;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.25);
    aspect-ratio: 1 / 1;
}

.card3 {

    width: 280px;
    height: 280px;
    background-color: #F5E938;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3px;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.25);
    aspect-ratio: 1 / 1;
}

.card4 {

    width: 280px;
    height: 280px;
    background-color: #F8BC3B;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3px;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.25);
    aspect-ratio: 1 / 1;
}

.card5 {

    width: 280px;
    height: 280px;
    background-color: #ff0000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.25);
    aspect-ratio: 1 / 1;
    margin-right: 5px;
}




.card1 p,
.card2 p,
.card3 p,
.card4 p,
.card5 p {

    font-size: 15px;
    color: #000000;
}


.card1 strong,
.card2 strong,
.card3 strong,
.card4 strong,
.card5 strong {

    font-size: 28px;
}


/* PARTE DE BAIXO */

#informacoes {
    margin-left: 16px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}


.grafico,
.pedidos {
    display: grid;
    width: px;
    height: 400px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.25);

}


.grafico h3,
.pedidos h3 {

    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}


/* GRÁFICO */

.pedidos {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 600px;
    margin-right: 120px;
    margin-bottom: 30px;
    background-color: #11FDB2;
    border-radius: 10px;
    padding: 70px;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.25);
}

.grafico {
    width: 900px;
    height: 600px;
    border-radius: 10px;
    padding: 10px;
    background-color: #AF9DFF;
    margin-left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.25);
}

/* PEDIDOS */

.pedidos p {

    border-bottom: 1px solid #000000;
    padding: 15px;
}



/* TELA  DE PEDIDOS  Pesquisa*/

.p_pedidos input {
    width: 1500px;
    height: 70px;
    border-radius: 30px;
    padding: 11px 20px;
    color: rgb(4, 4, 4);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 110px;



}

/*  STATUS  */

#formularioPedido {
    display: none;
    border: 1px solid;
    position: absolute;


}

.status-rece {
    display: flex;
    width: 110px;
    height: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #8f8f8f49, #2f25251f);
    border-radius: 15px;

}

.status-cor {
    display: flex;
    width: 110px;
    height: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #06cbd9a9, #4ae6f1a9);
    border-radius: 15px;



}

.status-cos {
    display: flex;
    width: 110px;
    height: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #f9037e8b, #fa72b65c);
    border-radius: 15px;

}

.status-pronto {
    display: flex;
    width: 110px;
    height: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #37ff0082, #81ee6382);
    border-radius: 15px;

}










.status select {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}






#novoPedido {
    width: 200px;
    height: 70px;
    padding: 11px 20px;
    border: none;
    border-radius: 10px;
    background: #e66007;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;


}

#novoPedido:hover {
    

    border-color: rgba(255, 2, 2, 0.593);
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);

}

#tabela {
    display: block;
    width: 100%;
    max-height: 900px;
    overflow-y: auto;
    margin-top: 10px;
    position: relative;
    z-index: 2;
}

#tabela table {
    border-collapse: collapse;
}



table {
    width: 90%;
    margin: 70px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 15px;
    max-height: 500px;

    overflow-y: auto;
      box-shadow: 0 12px 10px rgba(0, 0, 0, 0.25);

}


th {
    background: #D97706;
    color: white;
    padding: 15px;
    text-align: left;
    height: 150px;
    position: sticky;
    top: 0;
    z-index: 2;
}

td {
    height: 130px;
    padding: 15px;
    border-bottom: 4px solid #ddd;
}

tr:hover {
    background: #d30f0f;
}


/* tabela   */

#painel {
    margin-left: 16px;

    display: flex;
    gap: 20px;
    overflow: hidden;







}

#formularioPedido {
    width: 420px;
    padding: 25px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    z-index: 20;
}

.campo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.campo label {
    width: 120px;
    font-weight: 600;
}

.campo input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
}

.campo input:focus {
    border-color: #D97706;
}

#fecharFormulario {
    width: 100%;
    padding: 11px;
    margin-top: 10px;

    border: 1px solid #ddd;
    border-radius: 8px;

    background: white;
    color: #555;

    cursor: pointer;
}

#fecharFormulario:hover {
    background: #f5f5f5;
}

#registrarPedido {
    width: 100%;
    padding: 11px;
    border: none;
    border-radius: 8px;
    background: #D97706;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.coluna-cabecalho1 {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    border: 2px solid #0000003b;
    border-radius: 10px;
    color: #000000;

}

#registrarPedido:hover {
    background: #b45309;
}

.coluna-cabecalho2 {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    border: 2px solid #0000003b;
    border-radius: 10px;
    color: #000000;

}

.coluna-cabecalho3 {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    border: 2px solid #0000003b;
    border-radius: 10px;
    color: #000000;

}

.coluna-cabecalho4 {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    border: 2px solid #0000003b;
    border-radius: 10px;
    color: #000000;

}


/*  Recabidos    */
.conteudo-painel1 {
    background: linear-gradient(to bottom, #97929258, #bb9f9f52);
    width: 450px;
    height: 1050px;
    display: 1;
    align-self: center;
    text-align: center;
    border-radius: 10px;
    gap: 10px;
    justify-items: center;
    box-shadow: 5px 10px  10px rgba(0, 0, 0, 0.25);
}

.conteudo-painel2 {
    background: linear-gradient(to bottom, #06cbd9, #98cfd3);
    width: 450px;
    height: 1050px;
    display: 1;
    justify-items: center;
    text-align: center;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);

}

.conteudo-painel3 {
    background: linear-gradient(to bottom, #dc88e1, #ab75ae);
    width: 450px;
    height: 1050px;
    text-align: center;
    justify-items: center;
    display: 1;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}

.conteudo-painel4 {
    background: linear-gradient(to bottom, #e68eba, #9e5a77);
    width: 450px;
    height: 1050px;
    text-align: center;
    justify-items: center;

    display: 1;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}

/*  vER MAIS    */

.conteudo-painel1 a {
    color: #000000;
    text-decoration: none;
    padding: 16px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    display: inline-block;

    transition: all 0.25s ease;

}

.conteudo-painel2 a {
    color: #000000;
    text-decoration: none;
    padding: 16px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    display: inline-block;

    transition: all 0.25s ease;
}

.conteudo-painel3 a {
    color: #000000;
    text-decoration: none;
    padding: 16px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    display: inline-block;

    transition: all 0.25s ease;

}

.conteudo-painel4 a {
    color: #000000;
    text-decoration: none;
    padding: 16px;
    border-radius: 10px;
    font-size: 20px;
    display: inline-block;

    transition: all 0.25s ease;

}

.conteudo-painel1 a:hover,
.conteudo-painel2 a:hover,
.conteudo-painel3 a:hover,
.conteudo-painel4 a:hover {
    transform: translateY(5px);







}

.configuracoes {
    transform: translateY(200px);


}




/*     Corte          */
.coluna-corte {
    display: 1;
    border: 1px solid #000000;



}

.pedido-id {
    display: flex;
    width: 80%;
    height: 20%;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
    color: rgb(53, 33, 33);
    padding: 15px;
    align-items: center;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25)
}

.tabela-log {
    width: 90%;
    height: 70%;
    margin: 30px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    margin-left: 100px;
}

th {
    background: #D97706;
    color: white;
    padding: 15px;
    text-align: left;
}

td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background: #f5f5f5;
}

.acompanhamento {
    display: none;

    position: fixed;
    right: 0;
    top: 0;

    width: 400px;
    height: 100vh;

    background: white;
    padding: 30px;

    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.15);
}

.acompanhamento.aberto {
    display: block;
}

.acompanhamento button {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

.linha-tempo {
    margin-top: 30px;
}

.etapa {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.ponto {
    width: 25px;
    height: 25px;

    border-radius: 50%;

    border: 2px solid #ccc;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
}

.concluida .ponto {
    background: green;
    color: white;
    border-color: green;
}

.atual .ponto {
    background: orange;
    color: white;
    border-color: orange;
}